.content {
    width: 100%;
    height: 100%;
    background-color: azure;
}

.toast {
    /* Fundamentals */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2000;
    
    /* Structure */
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;

    /* Basic Styling */
    min-width: 280px;
    max-width: 360px;
    gap: 12px;
    padding: 14px 18px;
    border-radius: 8px;

    /* Extra points */
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
    animation: slideIn 0.3s ease;
}
    .toast .icon {
        margin: auto;
        grid-row: 1 / span 2;
        grid-column: 1 / 2;
    }
    .toast .title {
        grid-row: 1 / 2;
        grid-column: 2 / 3;

        font-size: 1rem;
        font-weight: bold;
        padding: 0 8px 8px;
        border-bottom: 1px solid black;
    }
    .toast .content {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        font-size: 0.8rem;
    }

/* Animations */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}